<div class="wrapper">
  <h1>Eat Some Burgers!</h1>

  <div class="content">
    <div class="available">
      <h2>Burgers Available for Eating</h2>
      <ul id="avail-burgers">
        {{#each burgers}}
          {{#unless this.devoured}}
            <li class="devour-li">
              {{this.burger_name}}
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">DEVOUR BURGER!</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <img src="/assets/images/burger.png" id="burger-pic">

    <div class="eaten">
      <h2>Burgers Previously Enjoyed</h2>
      <ul id="eaten-burgers">
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="add">
    <h2 id="add-title">Add a Burger</h2>
    <form class="create-update-form" action="/" method="POST" id="add-burger">
      <div class="form-group">
        <label for="ca" id="burger-name">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>

</div>